.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFFFFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: DM Mono;
}

.logo-container{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: left;
  box-sizing: border-box;
}

.src-ctn{
  display: flex;
  font-weight: bold;
  justify-content: right;
  margin: 20px;
  text-decoration: none; 
}
.srclink{
  text-decoration: none;
  color: forestgreen;
}
.srclink:hover{
  color: rgb(24, 101, 24)
}
.App-link {
  color: #21851a;
}
.content-master{
  width: 100%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  row-gap: 20vh;
  /* grid-template-columns: 1fr 1fr; */
}

@font-face {
  font-family: 'DM Mono';
  src: url('../public/fonts/DMMono-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'DM Mono';
  src: url('../public/fonts/DMMono-Medium.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'DM Mono';
  src: url('../public/fonts/DMMono-Light.ttf') format('truetype');
  font-weight: 500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
